<div data-controller="meal">
  <%= form_with(
    url: update_daily_meal_path(@day),
    method: :post,
    class: "flex flex-col justify-center align-middle",
    data: {
      "turbo-frame": "day_#{@day.id}_meals",
      "meal-target": "form",
      "action": "change->meal#add"
    }
  ) do |form| %>
    <%= form.select(
      :meal,
      meal_options,
      { prompt: "Add a meal" },
      {
        class: "rounded-lg p-4 pr-8 border border-gray-300",
        "data-meal-target": "option"
      }
    )
    %>
  <% end %>
</div>
