<div class="w-64 max-w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div id="days" class="min-w-full">
    <% @days.each do |day| %>
      <%= link_to day do %>
        <div class="flex justify-center w-full my-4 py-2 border rounded-md border-gray-200 shadow-lg hover:border-cyan-500 cursor-pointer font-bold text-xl">
          <%= format_day(day.date) %>
        </div>
      <% end%>
    <% end %>
  </div>
  <%= link_to 'Add an old day', new_day_path, class: "flex justify-center w-full my-4 py-2 border rounded-md border-gray-200 shadow-lg hover:border-cyan-800 cursor-pointer font-bold text-xl bg-cyan-500 text-white" %>

</div>
