<% button_class = "mx-2 rounded-lg p-4 border border-gray-300 shadow-md hover:border-cyan-400 inline-flex items-center font-medium" %>
<div class="m-4 p-8 flex flex-col justify-center items-center bg-white border border-gray-00 shadow-lg rounded-md ">
  <h2 class="mb-8 font-black text-3xl">😤 Scratches</h2>
  <div class="flex justify-center align-middle">
    <%= link_to remove_scratch_path(@day.id), method: :post, class: button_class do %>
      ➖
    <% end %>
    <p class="font-black text-cyan-500 text-6xl mx-4">-</p>
    <%= link_to add_scratch_path(@day.id), method: :post, class: button_class do %>
      ➕
    <% end %>
  </div>
  <div class="my-6 flex flex-col justify-center items-center text-gray-500">
    <p class="uppercase text-xs text-gray-400">last scratched</p>
    -
  </div>
</div>
